@-webkit-keyframes show-form {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px) scale(0.5);
            transform: translateY(30px) scale(0.5);
  }

  90% {
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes show-form {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px) scale(0.5);
            transform: translateY(30px) scale(0.5);
  }

  90% {
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;

  margin: 0 auto;

   min-width: 1146px;
}


a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.show {
  display: block;
}

.content-center {
  max-width: 1146px;
  margin: 0 auto;
}

.input {
  display: block;
  margin: 0 auto;

  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  cursor: pointer;
}

/* Навигация */

.header {
  position: absolute;
  left: 50%;
  margin-left: -573px;
  width: 1146px;
  z-index: 2;
}

.navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link {
  margin-bottom: 6px;
}

.navigation-links-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.navigation-links,
.dropdown-navigation {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 395px;
  padding-left: 9px;
  padding-right: 7px;
}

.catalog-link {
  padding-bottom: 13px;
}

.navigation-btns-right {
  padding-bottom: 11px;
}

.btns-right-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 245px;

  padding-top: 4px;
}

/* список навигационных кнопок справа в каталоге */

.navigation-btns-right .inner-right-list {
  width: 263px;
  padding-top: 7px;
}

.outer-navigation-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255, 0.2);

  margin: 0 14px;
}

.outer-navigation-link:hover:not(.on-page-link),
.outer-navigation-link:focus:not(.on-page-link) {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 16px;
  padding: 6px 14px;
  margin: 0;
}

.outer-navigation-link:active,
.outer-navigation-link:active {
  color: #323232;
  border-radius: 16px;

  -webkit-box-shadow: inset 0 2px 1px #696969;

          box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

/* Выпадающее меню */


/* focus для a11y */

.catalog-link:focus ~ .dropdown-navigation,
.catalog-link:hover ~ .dropdown-navigation {
    display: block;
    z-index: 3;
}

.catalog-link-inner:focus ~ .dropdown-navigation,
.catalog-link-inner:hover ~ .dropdown-navigation {
    display: block;
    z-index: 3;
}

.dropdown-navigation {
  position: absolute;
  display: none;

  padding: 0;
  width: 143px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;

  left: 157px;
  top: 60px;
  padding-top: 6px;
  padding-bottom: 9px;

  z-index: 1;
}

.dropdown-navigation a {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  display: block;
}

.link-news a {
  font-weight: 700;
  position: relative;

  margin-bottom: 11px;
}

.link-news::after {
  position: absolute;

  content: "";
  background-image: url("../img/dropdown-line.png");
  background-repeat: no-repeat;
  height: 2px;
  width: 128px;
  top: 37px;
  left: 6px;
}

.dropdown-navigation li:not(:first-child) {
  margin-top: 5px;
}

.dropdown-navigation-link:hover,
.dropdown-navigation-link:focus {
  background-color: #fbded7;
  display: block;
}

.dropdown-navigation a:active,
.dropdown-navigation a:active {
  background-color: #f6b5a5;
  display: block;
}

.link-current {
  color: #323232;
  background-color: #d07058;

  display: block;
}

.btn-search {
  width: 33px;
  height: 33px;

  border-radius: 50%;
  background-color: rgba(255,255,255, 0.2);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-link:hover .dropdown-navigation {
  display: block;
}

/* форма поиска  */

.search-form {
  width: 341px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  position: absolute;
  top: 59px;
  right: 213px;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;

  display: none;
}

/* focus для a11y */

.navigation-btn-search:hover .search-form {
  display: block;
}

.btn-search:focus ~ .search-form {
  display: block;
}

.search-form input {
  width: 287px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-login,
.btn-basket {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;
  padding: 6px 17px 6px 15px;

  /* padding: 9px 17px 9px 43px; */
}

.btn-search:hover,
.btn-search:focus,
.btn-login:hover,
.btn-login:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.btn-search:hover path,
.btn-login:hover path,
.btn-search:focus path,
.btn-login:focus path {
  fill: #000000;
}

.btn-login {
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2);
}

.btn-login svg path {
  fill: #ffffff;
}

.btn-login svg,
.btn-basket svg {
  /* position: absolute;
  left: 15px; */
  padding-right: 7px;
}

.navigation-btn-login {
  padding-bottom: 25px;
}

/* форма входа */

.login-form {
  width: 277px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  position: absolute;
  z-index: 1;
  top: 59px;
  right: 109px;
  padding-bottom: 25px;

  border-radius: 5px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  display: none;
}


/* focus для a11y */

.navigation-btn-login:hover .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-login:focus ~ .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form input {
  width: 209px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-btn {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  -ms-flex-item-align: start;

      align-self: flex-start;
  margin-left: 18px;
  padding: 10px 25px;
  margin-top: 20px;
}

.login-help-links {
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; */
  margin-top: -41px;
  margin-right: 20px;
}

.login-help-links a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  /* line-height: 24px; */
  padding-top: 3px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-link-underline:focus,
.login-link-underline:hover,
.login-link-underline:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.btn-basket {
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2);
}

.inner-body .btn-basket {
  background-color: #f8f7f4;
  color: #323232;;
}


/*  список товара в корзине  */

.basket-list {
  width: 540px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  position: absolute;

  top: 59px;
  right: 0;
  padding-bottom: 5px;

  border-radius: 5px;

  z-index: 1;

  display: none;
}

/* появление списка товаров в корзине */

.navigation-btn-basket:hover .basket-list,
.navigation-btn-basket:focus .basket-list {
  display: block;
}

/* a11y */

.btn-basket:hover ~ .basket-list,
.btn-basket:focus ~ .basket-list {
  display: block;
}

.basket-list-table {
  padding-top: 2px;
}

.table-string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* align-items: center; */

  padding-top: 14px;
}

.table-close-btn-sting {
  padding-top: 9px;
}

.table-close-btn {
  border: none;
  background: none;
  padding: 0;
  margin-left: 13px;
}

.icecream-mini-string {
  padding-top: 2px;
  padding-left: 3px;
}

.icecream-mini {
  padding-left: 10px;
}

.item-title,
.item-price,
.total-price {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.item-title {
  width: 220px;
  padding-left: 12px;
  padding-top: 10px;
}

.item-price {
  padding-left: 25px;
  padding-top: 10px;
}

.total-price {
  padding-left: 28px;
  padding-top: 10px;
}

.small-price {
  color: #999999;
}

.total-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 1px;
}

.total-sum::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 510px;

  right: 15px;
  bottom: 111px;

  background-color: #cacac7;
  }

.total {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.basket-buy-btn {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  padding: 10px 15px;
  margin-top: 13px;
}

/* конец навигации */

.contact-information {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

  font-style: normal;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  position: absolute;
  right: 0;
  top: 69px;
}

.work-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  padding-top: 4px;
  padding-bottom: 4px;
}

/* слайдер */

.background-color-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream/big_icecream_first.png");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-wrapper::before,
.slider-wrapper::after {
  content: "";
  visibility: hidden;
}

.slider-wrapper::before {
  background-image: url("../img/icecream/big_icecream_second.png");
}

.slider-wrapper::after {
  background-image: url("../img/icecream/big_icecream_third.png");
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-control {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control:hover,
.slider-control:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .background-color-wrapper label[for="product-1"],
#product-2:checked ~ .background-color-wrapper label[for="product-2"],
#product-3:checked ~ .background-color-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .background-color-wrapper #slide1,
#product-2:checked ~ .background-color-wrapper #slide2,
#product-3:checked ~ .background-color-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .background-color-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream/big_icecream_first.png");
}

#product-2:checked ~ .background-color-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream/big_icecream_second.png");
}

#product-3:checked ~  .background-color-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream/big_icecream_third.png");
}

.icecream-slide-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;

  margin: 0 auto;
  /* margin-bottom: 31px;
  margin-top: 70px; */

  /* width: 670px; */

  margin-bottom: 29px;
  margin-top: 72px;

  width: 710px;
}

.orange-btn {
  color: #ffffff;

  border-radius: 35px;
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.orange-btn:focus,
.orange-btn:hover {
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.orange-btn:active {
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-buy {
  display: inline-block;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  padding: 10px 40px;
  margin-bottom: 40px;
}


/* акции */

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}

.actions h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
}

.actions p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  padding-top: 15px;
}

.action {
  width: 560px;
  padding: 16px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  border-radius: 15px;
}


.left-action {
  background-image: url(../img/raspberry_bg.png);
  background-color: #4f0a21;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-action {
  background-image: url(../img/chocolate_bg.png);
  background-color: #492817;
  background-repeat: no-repeat;
  background-size: cover;
}

.action-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  -ms-flex-item-align: end;

      align-self: flex-end;

  padding: 11px 23px;
  margin-top: 44px;
  margin-bottom: 8px;
}

/* хиты */

.hits {
  margin-top: 3px;
}

.icecream-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icecream-item {
  width: 267px;
  position: relative;

  margin-top: 38px;
}

.hit-item::before {
  position: absolute;
  content:"";
  width: 62px;
  height:62px;

  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
}

.hit-item:hover::before {
  z-index: 30;
}

.icecream-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin: 0;
  padding-top: 8px;

  padding-left: 5px;
  padding-right: 5px;
}

.price-big {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;

  position: absolute;
  bottom: 65px;
  margin: 0;
  left: -2px;
}

.inner-list .price-big {
  bottom: 66px;
  left: -2px;
}

.weight-small {
  font-size: 30px;
  position: relative;
  padding-left: 35px;
}

.weight-small::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg/ruble.svg");
  width: 31px;
  height: 36px;
  top: -6px;
  left: 5px;
}

/* Преимущества */

.advantages {
  max-width: 1107px;

  background-image: url("../img/waffle_bg.jpg");
  background-color: #e9dabf;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 38px;
}

.advantages h2 {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  letter-spacing: 0.2px;
}

.advantages-list {
  list-style: none;

  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 21px;
}

.advantages-list li {
  width: 485px;
  position: relative;

  padding-left: 56px;
  padding-bottom: 23px;
  letter-spacing: 0.1px;
}

.advantage-icecream {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.advantage-icecream::before {
  position: absolute;
  content:"";
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/ice-cream.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 0px;
  background-repeat: no-repeat;
}

.advantage-farm {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advantage-farm::before {
  position: absolute;
  content:"";
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/cow.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 0px;
  background-repeat: no-repeat;
}


.advantage-nature {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.advantage-nature::before {
  position: absolute;
  content:"";
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/eco.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 0px;
  background-repeat: no-repeat;
}


.advantage-temperature {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.advantage-temperature::before {
  position: absolute;
  content:"";
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/thermometer.svg);
  background-repeat: no-repeat;
  top: -13px;
  left: 0px;
  background-repeat: no-repeat;
}


/* Статья */

.article-and-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 40px;
}

.article-new {
  width: 540px;
  background-image: url("../img/strawberry_bg.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding-top: 9px;
  padding-left: 20px;
}

.article-new h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  color: #323232;

  padding-top: 15px;
  margin: 0;
}

.article-new a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;

  color: #323232;

  width: 300px;
  display: inline-block;
  padding-top: 4px;

}


/* Форма для подписки */

.subscription {
  width: 560px;
  background: url("../img/svg/bg-post.svg");
  border-radius: 15px;
}

.subscription-wrapper {
  background-color: #f8f7f4;
  margin: 5px;
  border-radius: 15px;

  padding-bottom: 10px;
}

.subscription-title {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.subscription-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-left: 21px;
  margin-right: 21px;
}

.subscription-form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  width: 379px;
  padding-left: 13px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 9px;
}

.subscription-form input:focus,
.subscription-form input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
  outline: none;
  padding-left: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.subscription-form input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
  background-color: #ffffff;
  font-weight: 700;
}

.subscription-form input::-webkit-input-placeholder {
  color: #999999;
}

.subscription-form input::-moz-placeholder {
  color: #999999;
}

.subscription-form input:-ms-input-placeholder {
  color: #999999;
}

.subscription-form input::-ms-input-placeholder {
  color: #999999;
}

.subscription-form input::placeholder {
  color: #999999;
}

.subscription-btn {
  padding: 9px 19px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* карта */

.map {
  margin-top: 38px;
  position: relative;
  width: 100%;
  height: 427px;
  background: url("../img/map.jpg") no-repeat center;
}

.interactive-map {
  width: 100%;
  height: 427px;
  z-index: 1;
  position: absolute;
}

/* блок с контактной информацией */

.map-information-container {
  position: relative;
}

.map-information-wrapper {
  position: absolute;
  top: 61px;
  right: 0;
  background-color: #ffffff;

  max-width: 302px;

  border-radius: 15px;

  text-align: center;
  z-index: 2;
}

.map-information {
  color: #323232;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  padding-right: 10px;
  padding-left: 26px;
  padding-top: 31px;

  text-align: left;
}

.information {
  display: block;
}

.information-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.information-adress-title {
  padding-right: 115px;
}

.information-time {
  padding-bottom: 24px;
}

.information-tel {
  padding-top: 6px;
}

.information-tel-title {
  padding-top: 17px;
}

.information-adress {
  padding-top: 3px;
}

.information-btn {
  display: inline-block;

  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  padding: 10px 27px;
  margin-bottom: 31px;
}

/* Форма обратной связи  */

.feedback-form {
  width: 427px;
  background-color: #f8f7f4;
  position: fixed;
  top: 339px;
  left: 50%;
  margin-left: -239px;
  border-radius: 10px;
  padding-top: 13px;
  padding-left: 26px;
  padding-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  z-index: 3;
}

.modal-show {
  -webkit-animation: show-form 0.6s;
          animation: show-form 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background-color: transparent;
}

.feedback-title {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback-name,
.feedback-email,
.feedback-comment {
  margin: 0;
}

.feedback-name input,
.feedback-email input {
  color: #999999;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 266px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 19px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.feedback-comment textarea {
  color: #999999;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  width: 100%;
  max-width: 428px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 155px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 22px;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  resize: none;
}

.feedback-name input:hover,
.feedback-email input:hover,
.feedback-name input:focus,
.feedback-email input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 11px;
}

.feedback-name input:active,
.feedback-email input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}


.feedback-btn {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 9px 22px;
  margin-bottom: 28px;
}

/* футер */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 22px;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
  margin-top: 28px;
}

.main-footer .social-links {
  margin-top: 31px;
}

.social-link-item {
  margin-right: 10px;
}

.social-link-item path {
  fill: rgba(255, 255, 255, 0.8)
}

.social-link-item svg {
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.social-link-item svg:hover,
.social-link-item svg:focus {
  border: 3px solid rgba(255,255,255,0.7);
  fill: rgba(255, 255, 255);
}

.social-link-item svg:active {
  border: 3px solid rgba(255,255,255,0.7);
  fill: #e9e9e9;
}

.important-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 19px;
  padding-right: 3px;
}

.main-footer .important-links {
  padding-top: 24px;
}

.important-links-left,
.important-links-right {
  list-style: none;
  margin: 0;
  padding: 0;
}

.important-links-left li,
.important-links-right li {
  line-height: 20px;
}

.heart {
  position: relative;
}

.heart::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -22px;

  width: 15px;
  height: 13px;
  background-image: url("../img/svg/heart.svg");
}


.important-links-left {
  padding-right: 31px;
}

.important-links a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.important-links .link-bold {
  font-weight: 700;
}

.copiright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-footer .copiright {
  margin-top: 3px;
}

.htmlacademy-logo {
  padding-top: 10px;
}

.copiright-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.link-underline {
  color: #fefefe;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.link-underline:hover,
.link-underline:focus,
.link-underline:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/* *** CATALOG ***  */

.inner-body {
  background-color: #849d8f;
  width: 1146px;
}

.inner-body .header {
  position: relative;
}

.navigation-links-inner {
  padding-left: 9px;
}

.navigation-btns-right-inner {
  position: relative;

  width: 261px;
}


.on-page-link {
  padding: 6px 14px;

  border-radius: 16px;
  background-color: #d07058;

  margin: 0;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 210px;
}

.breadcrumb a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  list-style: none;
}

.breadcrumb a:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.breadcrumb li:not(:first-child)::before {
  content: "»";

  margin-left: 7px;
  margin-right: 7px;

  font-size: 14px;
}

.main-title {
  color: #ffffff;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  padding-top: 2px;
}

/* Фильтр */

.filter {
  margin-top: 25px;
}

.filter-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-interactive {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 50px;
}

.form-item {
  margin: 0;
  padding: 0;
  border: none;

  margin: 0 15px 0 0;
}

.filter-sort,
.price-wrapper,
.fatness-wrapper {
  margin-bottom: 14px;
}

.form-item-title {
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  padding-left: 14px;
  padding-bottom: 7px;
}

/* Сортировка */

.filter-sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sort-icon-down {
  position: absolute;
  top: 36px;
  right: 13px;
}

.icon-color {
  fill: #ffffff;
}


.form-sort {
  position: relative;

  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: none;

  padding: 9px 32px 9px 15px;

  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* IE */

.form-sort::-ms-expand {
  display: none;
}

.form-sort:hover {
  color: #323232;
}

.filter-sort:hover .icon-color {
  fill: #323232;
}

/* Цена */

.range-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;

  /* padding: 16px 21px; */
  padding: 8px 66px 8px 36px;
}

.scale {
/* при абслют  */

  /* width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  margin-left: 2px; */


  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  margin-left: -13px;
}

.bar {
  /* width: 107px;
  height: 4px;
  background-color: #f8f7f4;

  margin-left: 20px; */

  width: 105px;
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 22px;
}

.range-toggle {
  /* position: absolute; */
  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;

  background-color: #ababab;
  border-radius: 50px;
}

.range-toggle:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.max-price-wrapper {
  padding-left: 0;
}

.min-price,
.max-price {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  width: 26px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.range-toggle-min {
  /* left: 36px; */
  margin-left: -163px;
}

.range-toggle-max {
  /* right: 66px; */
  margin-left: 78px;
}

/* Жирность */

.fatness-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  padding: 4px 2px 5px 12px;
}

.fatness-item label {
  position: relative;
  margin-left: 28px;
  margin-right: 12px;

  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  right: 3px;
  bottom: 1px;
  padding-left: 9px;
  cursor: pointer;
}


.fatness-radio + label::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 25px;
  left: -24px;
  top: -4px;

  background-image: url("../img/svg/radio-off.svg");
  opacity: 0.8;
}

.fatness-radio:checked + label::before {
  background-image: url("../img/svg/radio-on.svg");
}

.fatness-radio:disabled + label::before {
  opacity: 0.4;
}

.fatness-radio:hover + label::before {
  opacity: 1;
}

.fatness-radio:focus + label::before {
  outline: 2px solid #d07058;
}

/* Наполнители */

.fillers {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  padding: 9px 0 9px 12px;
}

.filler-item {
  position: relative;
}

.checkbox-item + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -1px;

  width: 26px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;

  cursor: pointer;
}

.checkbox-item:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.checkbox-item:disabled + label::before {
  opacity: 0.4;
}

.checkbox-item:hover + label::before {
  opacity: 1;
}

.checkbox-item:focus + label::before {
  outline: 2px solid #d07058;
}

.filler-item label {
  padding-left: 33px;
  padding-right: 21px;
}

.filter-btn {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  border: 2px solid #ffffff;

  padding: 7px 27px;
  margin-left: -4px;
  margin-top: 23px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-btn:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}


.catalog-list {
  list-style: none;
}

.inner-list {
  margin-top: 2px;
}

/* наведение на мороженое */

.icecream-background {
  width: 293px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);

  padding-top: 350px;
  padding-bottom: 20px;
  position: absolute;
  top: -13px;
  left: -13px;
  border-radius: 5px;

  display: none;
}

.fast-look-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  padding: 10px 18px 12px 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  z-index: 10;
  margin-top: -1px;
}

.icecream-title:focus .icecream-background,
.icecream-item:hover .icecream-background {
  display: block;
  z-index: 10;
}

.icecream-item:hover .icecream-img {
  z-index: 20;
  position: relative;
}

.icecream-item:hover .icecream-list-title {
  z-index: 20;
  position: relative;
}

.icecream-item:hover .price-big {
  z-index: 25;
}

.hit-item:hover ~ .hit-item::before {
  z-index: 30;
}

.hit-item .icecream-list-title {
  padding-top: 6px;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  padding-top: 79px;
  padding-right: 5px;
  padding-bottom: 39px;
}

.paginator-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 146px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;

  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
}


.paginator-item {
  width: 26px;
  height: 26px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  border-radius: 50%;
}

.paginator-item a {
  color: #323232;
}

.paginator-item-current {
  background-color: #ffffff;
}

.paginator-item:hover,
 .paginator-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-item:hover a,
.paginator-item:focus a {
  color: #ffffff;
}

.paginator-item:active {
  background-color: #ffffff;
}
.paginator-item:active a {
  color: #323232;
}

.paginator-list::before {
  content:"";
  position: absolute;
  left: -29px;
  top: -3px;
  width: 15px;
  height: 22px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}


.paginator-list::after {
  content: "";
  position: absolute;
  right: -27px;
  top: 7px;
  width: 15px;
  height: 22px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
}
